#categories {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	
	@media (max-width: 540px) {
		display: none;
	}

	li {
		margin-right: 2%;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: $link-color;

		&::after {
			content: '';
			display: block;
			margin-top: 8px;
			width: 0;
			height: 2px;
			background-color: $primary-color;
			transition: .3s ease width;
		}
		
		&.active,
		&:hover,
		&:focus {
			color: $primary-color;

			&::after {
				width: 100%;
			}
		}
	}
}

.categories-select-responsive {
	display: none;
	width: 100%;
	margin-bottom: 40px;
	padding: 10px 2%;
	outline: none;
	border: 1px solid #ccc;
	transition: .3s ease border-color;

	&:focus {
		border-color: $primary-color;
	}

	@media (max-width: 540px) {
		display: block;
	}
}

#movies {
	display: flex;
	flex-wrap: wrap;

	article {
		width: 21.25%;
		margin-right: 5%;
		margin-top: 50px;

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:nth-child(-n+4) {
			margin-top: 0;
		}

		@media (max-width: 768px) {
			width: 30%;

			&:nth-child(4) {
				margin-top: 50px;
			}

			&:nth-child(4n) {
				margin-right: 5%;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media (max-width: 500px) {
			width: 47.5%;

			&:nth-child(3) {
				margin-top: 50px;
			}

			&:nth-child(3n) {
				margin-right: 5%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (max-width: 320px) {
			width: 100%;
			margin-right: 0;

			&:nth-child(2) {
				margin-top: 50px;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		.image {
			position: relative;
			margin-bottom: 10px;

			a {
				display: block;

				img {
					display: block;
					width: 100%;
					transition: .3s ease opacity;
				}

				&:hover,
				&:focus {
					img {
						opacity: .7;
					}
				}
			}

			span {
				position: absolute;
				bottom: 15px;
				right: 15px;
				padding: 2px 15px;
				background-color: $badge-color;
				border-radius: 25px;
				color: #fff;

				@media (max-width: 540px) {
					position: static;
					display: inline-block;
					margin-top: 15px;
				}
			}
		}

		h2 {
			margin-bottom: 10px;
			@include fontSize(18px);
			font-weight: 600;
			color: #202020;
			line-height: 1.3em;
		}

		ul {
			margin-bottom: 10px;

			li {
				display: inline-block;
				line-height: 20px;

				a {
					transition: .3s ease color;
					color: $link-color;

					&:hover,
					&:focus {
						text-decoration: underline;
						color: $primary-color;
					}
				}
			}
		}
	}
}
